
#container {
    box-sizing: border-box;
    margin:0;
    padding:0;
    /* width: 100%; */
    position: relative;
    z-index: 9;
}

.wrap-introduce-total {
    background-color: #222831;
}

.introduce-total {
    width: 100%;
    height: 450px;
    clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
    /* background: linear-gradient(to right, rgba(107,183,86,0.95), rgba(0,143,104,0.95)); */
    /* background: linear-gradient(to right, var(--top1), var(--top2)); */
    text-align: center;
    position: relative;
    background-color: #2E2E28;
}

.introduce-total img {
    margin-top: 30px;
    width: 187px;
    height: 162px;
}
.introduce-total img:hover {
    animation:colorrr 10s infinite;
}
  
@keyframes colorrr{
    0%{filter:hue-rotate(0deg)}
    100%{filter:hue-rotate(360deg)}
}

.introduce-total h1 {
    color: white;
    font-size: 40px;
    font-family: cursive;
    margin:0;
}

.introduce-total p {
    font-size: 22px;
    color: white;
    font-family: cursive;
    margin:10px 0 0 0; 
}

/* ---------- top- post ----- */

.top-post {
    background-color: #222831;
    width: 100%;
    height:auto;
    /* position: absolute; */
    top: 250px;
    left:0;
    /* z-index: -1; */
    padding: 0 245px;
    box-sizing: border-box;
    padding-top:20px;
    padding-bottom: 100px;
}

.top-post h2 {
    margin:0;
    text-align: center;
    font-size: 25px;
    color: white;
    margin-bottom:10px;
}

.dialog-all {
    display: flex;
    flex-wrap: wrap;
}

.dialog-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width:262px;
    height: 128px;
    background-color: #1A1D24;
    border:1px solid transparent;
    border-bottom-right-radius: 15px;
    text-align: center;
    margin:10px;
    cursor: pointer;
    transition: 0.3s;
}

.dialog-box:hover {
    transform: translate(0, -5px);
}

.labels-small {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #61DAFB;
    width:15px;
    height: 15px;
    clip-path: polygon(0 0,100% 0, 0 100%);
    border-top-left-radius: 3px;
}

.dialog-box span {
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    margin: 10px;
    line-height: 30px;
}

.dialog-box .labels-small:last-child {
    background-color: #41B883;
}

.green-color {
    background-color: #41B883;
}

.yellow-color {
    background-color: #F7DF1E;
}
/* ----------- letter -------- */
.wrap-letter {
    background-color: #222831;
}

.letter {
    box-sizing: border-box;
    background-color: #222831;
    padding: 0 245px;
    /* background: linear-gradient(to bottom, transparent, var(--subtle-yellow2)); */
    /* transform: skewY(6deg); */
}

/* .letter * {
    transform: skewY(-6deg);
} */

.letter-space {
    background-color: #2E2E28;
    width: 100%;
    height: 225px;
    clip-path: polygon(-50% 0,100% 100%,0 100%);
}

.letter h1 {
    color:#D5BB35;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.letter p {
    color:white;
    font-size: 22px;
    line-height: 33px;
}

.letter a {
    color:#D5BB35;
    text-decoration: none;
}

.letter li {
    color:white;
    font-size: 22px;
    line-height: 33px;
    list-style-type: disc;
    text-indent: 24px;
    transform: skewY(0deg);
}

.letter-sign {
    text-align: right;
    transform: skewY(0deg);
}

.letter-sign span {
    color:white;
    font-size: 22px;
}

.letter-name {
    background-color: #464431;
    width: 50px;
    height: 35px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    border-radius: 4px;
}

/* -------- Course ------- */
.course {
    box-sizing: border-box;
    padding: 0 245px;
    background-color: #2E2E28;
}

.wrap-course {
    text-align: center;
}

.course-vuejs {
    text-align: center;
}

.fa-vuejs, .course-vuejs h1 {
    color:#42B883;
    font-size: 30px;
    margin:0;
    margin-bottom: 12px;
}

.course-vuejs .labels-small {
    background-color: #42B883;
}

.course-vuejs span {
    color: #BF6723;
}
.btn {
    background-color: #1A1D24;
    color: #BF6723;
    transition: 0.3s;
    width: 140px;
    height: 38px;
    font-size: 17px;
    line-height: 38px;
    text-align: center;
    border-color: transparent;
    border-radius: 5px;
}

.btn:hover {
    transform: translateY(-5px);
}

.line {
    width: 25%;
    border: 0;
    border-top: 6px solid yellow;
    margin: 56px auto;
}

.wrap-course .react-2 h1 {
    color: #08ADCC;
}

.wrap-course .react-small {
    background-color: #08ADCC;;
}

.fa-js {
    color: yellow;
    font-size: 30px;
    font-weight: 100;
}

.javaScript-2 h1 {
    color:yellow;
}

.javaScript-2 .js-small {
    background-color: yellow;
}
.btn-js {
    width:204px;
}

.css-2 h1 {
    color:#246CF8;
}

.fa-css3 {
    color:#246CF8;
}

.css-2 .css-small {
    background-color: #3399FE;
}

.angular-2 h1, .fa-angular {
    color:#DD0031;
}

.angular-2 .angular-small {
    background-color: #DD0031;
}

.btn-angular {
    width:167px;
}

.workflow-2 h1 {
    color:#ED3FA6;
}

.workflow-2 .workflow-small {
    background-color: #ED3FA6;
}

.gatsby-2 h1 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gatsby-2 .gatsby-small {
    background-color: #663399;
}

.nodejs-2 h1 {
    color:#2E5C32;
}

.nodejs-2 .nodejs-small {
    background-color: #2E5C32;
}

.btn-nodejs {
    width:165px;
}

/* ------- theme light --- */

.theme {
    background-color: #5BB263;
}
