/* grid system */
.footer-test {
    padding: 300px 245px 0;
    box-sizing: border-box;
    background-color: #2E2E28;
    height: auto;
 }

.footer-container {
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 70px 70px;
    grid-gap:5px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #373831;
    color:#EFBB33;
}

.item a {
    font-size:24px;
    text-decoration: none;
    color:#EFBB33;
}

.cell-black {
    background-color: transparent;
}

.footer-test h3 {
    color: #EFBB33;
    text-align: center;
    margin:40px 0;
}

.footer-test h3:nth-child(3) {
    padding:10px 0 100px 0;
    margin:0;
}

.footer-test h3 a {
    text-decoration-style: double;
    color: #EFBB33;
}
