body {
    margin:0;
    padding:0;
    font-size: 16px;
}

ul,li {
    list-style: none;
    margin:0;
    padding:0;
}

a {
    list-style-type: none;
}
/* ----------header ------------- */
#header {
    width: 100%;
    height:60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right,#302E24,#29313E);
    position: relative;
    z-index: 20;
}

.header-left {
    height: 100%;
    width: 50%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    
}

.header-language:first-child {
    padding-left: 20px;
}

.header-right {
    height: 100%;
    width: 50%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    color:white;
    
}

.header-right form {
    width: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    background-color: #252C36;
}

.input-search {
    width: 105px;
    border:none;
    background-color: #252C36;
    font-size: 18px;  
    transition: 0.3s;
}

.fa-search {
    background-color: #252C36;
    width: 30px;
    text-align: end;
}

.fa-bolt {
    color:orange;
}

.fa-twitter, .fa-circle {
    font-size: 27px;
}

.fa-circle {
    color: orange;
    opacity: 0.9;
}

.fa-twitter {
    padding: 0 20px;
    color:white;
}

.fa-search {
    padding-right: 6px;
}

.header-language {
    display: flex;
    height: 100%;
    align-items: center;
}

.header-left .header-language:hover {
    opacity: 0.6;
    cursor: pointer;
}

.fa-arrow-down {
    font-size: 13px;
}
/* ----- extra-menu--------- */
.extra-menu {
    width:40px;
    justify-content: center;
    position: relative;
    transition: 0.3s;
}

.extra-menu:hover {
    background-color: #424545;
}

.menu-hidden {
    display: none;
}

.extra-menu:hover .menu-hidden {
    display: block;
}

.menu-show {
    padding: 20px;
    width: 600px;
    height: auto;
    border-top: 5px solid yellow;
    position: absolute;
    top: 60px;
    left: -250px;
    color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
}

.menu-show li {
    width: 102px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
}

.menu-show li:nth-child(18) {
    width: auto;
    height: auto;
}

.menu-show li:hover {
    opacity: 0.8;
}

.theme-switcher {
    position: relative;
    padding: 0 10px;
}

.theme-switcher:hover .menu-hidden {
    display: block;
}

.theme-show {
    background-color: #28313E;
    padding: 0;
    cursor: default;
}

.theme-show li {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    width: auto;
    margin:0;
    cursor: pointer;
}


.theme-white {
    border:2px solid green;
    border-radius: 50%;
    color:white;
    background-color: white;
}

.theme-dark {
    border:2px solid orange;
    border-radius: 50%;
    color:black;
    background-color: black;
}

.theme-solarized {
    border:2px solid yellow;
    border-radius: 50%;
    color:white;
    background-color: white;
}

.theme-last {
    border:2px solid #B38801;
    color: #002B36;
    background-color: #002B36;
    border-radius: 50%;
}

.theme-light {
    background-color: red;
}

.icon-reponsive {
    display: none;
}