@media (max-width:1342px) {
    .top-post {
        padding:20px 0 100px 0;
    }
    .dialog-all {
        justify-content: center;
    }
    .dialog-box {
        width: 330px;
    }
    .course {
        padding:0;
    }

}
@media (max-width:1240px) {
    .item a {
        font-size: 20px;
    }
}

@media (max-width:1124px) {
    .header-language {
        display: none;
    }
    .icon-reponsive {
        display: block;
        padding-left: 20px;
    }
    .letter {
        padding: 0 200px;
    }
    .item a {
        font-size: 18px;
    }
}

@media (max-width:1024px) {
    .footer-test {
        padding: 300px 215px 0;
    }
   

@media (max-width:992px) {
    .letter {
        padding: 0 180px;
    }
    .footer-test {
        padding: 250px 175px 0;
    }
}

@media (max-width:768px) {
    .letter {
        padding: 0 130px;
    }
    .introduce-total h1 {
        font-size: 30px;
    }
    .introduce-total p {
        font-size: 18px;
    }
    .footer-test {
        padding: 250px 95px 0;
    }
}

@media (max-width:703px) {
    .dialog-box {
        width: 452px;
        height: 72px;
    }
    .footer-test {
        padding: 250px 32px 0;
    }
}

@media (max-width:576px) {
    .dialog-box {
        width: 452px;
        height: 72px;
    }
    .footer-test {
        padding: 50px 0px 0;
    }
}